.image_modal {
  background-color: #e9d8fd;
  border-color: #e9d8fd !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 4px solid #fff;
  border-radius: 16px;
  overflow: hidden;
}
